.base-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-modal {
    position: relative;
    background: white;
    padding: 10px 20px;
    border-radius: 1rem;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
    z-index: 1001;
    transition: all 0.3s ease-in-out;
}

.base-modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
